<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838635491378-q9t30cgtc4avm424fu6p9e1mq8vsv341.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838635491378-q9t30cgtc4avm424fu6p9e1mq8vsv341</string>
	<key>API_KEY</key>
	<string>AIzaSyDPrGnev6YFqyydP7VwXMLl5Q5qIRpS4io</string>
	<key>GCM_SENDER_ID</key>
	<string>838635491378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeServiceApp</string>
	<key>PROJECT_ID</key>
	<string>bike-service-app-8aae9</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-service-app-8aae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838635491378:ios:32f30001359c5e9513ac2b</string>
</dict>
</plist>